

.previewImageContainer {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 50px;
  margin-top: 50px;

}


.previewText {
    text-align: center;
}


.imageFooter{

  display:flex;
  flex-direction: row;
}
.formField{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.dimensionContainer{
  margin-right: 40px;
}
