.imagePreviewContainer {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.previewContainer {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}


.imagePreview {
    max-height: 200px;
}
.previewText {
    max-height: 200px;
}


.imageFooter{

}
