
.loginTitle{
  display:flex;
  flex-direction: row;
  justify-content: center;
  color:#888888;
  align-items: center;
  font-size: 26px;
  margin-bottom: 20px;
}
.loginFieldContainer{
  margin-bottom: 30px;

}

.formContainer {
  background: #ffffff;
  max-width: 320px;
  width: 100%;


  margin: 0 auto;
  dispay:flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

  box-shadow: 10px 10px 5px #888888;
}
.loginForm button{

  margin-top: 20px;
  background-color: rgb(70, 104, 140);

}
.globalInputText{
  font-size: 10px;
  font-family: Roboto,sans-serif;
  text-transform: none;
  font-weight: 300;
  padding-left: 150px;

}
